
/*=============================
--- COLORES PREDETERMINADOS ---
=============================*/
:root {
  --color-1: #7e1527; /* Burdeos */
  --color-2: #c62d49; /* Cardenal */
  --color-3: #11c3b9; /* Robin Egg - Turquesa */
  --color-4: #07958b; /* Cyan Oscuro */
  --color-5: #ececec; /* Gris suave */
  --color-6: #2a2a2a; /* Gris Carbon */
  --color-7: #151515; /* Negro mate */
  font-size: 16px; /* ajuste medida rem en la tipografía */
  box-sizing: border-box;
}

/*=============================
--- ESTILOS PARA EL BODY ---
=============================*/

/* Estilos base para la página */
body{
    background-color: white;
    font-family: 'Figtree', Arial, sans-serif; /* tipgrafía del cuerpo */
    font-weight: normal;
    color:#000; /* color base de la tipografía */
}

/* color y métricas del contenedor principal */
.container{
    background-color: var(--color-5);
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 5rem;
    border-radius: 10px;
    max-width: 600px;
}

/* Estilos encabezado */
h1{
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
   
}

/* Cambio de color de "TatuSys" */
.texto-cyan{
    color: var(--color-4);
}

/* ajustes y alineación del texto adicional */
p{
    font-weight: normal;
    text-align: center;
}

/* color base enlace a contraseña olvidada */
a{
    text-decoration: none;
    color: #000;
}

/* cambio de color enlace en hover */
a:hover{
    color: var(--color-4);
}

/* Cambio de color input-checked */
.form-check-input:checked{
    background-color: var(--color-4);
    border-color: var(--color-4);
}

/* ajustes personalizados botón principal */
.btn{
    background-color: var(--color-4);
    color: white;
    font-weight: bold;
    border: 2px solid var(--color-4)
}

/* cambio de color del btn principal en hover */
.btn:hover{
    background-color: var(--color-3);
}

/* ajustes personalizados botón secundario */
.btn-secondary{
    background-color: white;
    color: black;
    border: 2px solid var(--color-4);
    font-weight: bold;
}

/* cambio de color del btn secundario en hover */
.btn-secondary:hover{
    background-color: var(--color-4);
    color: white;
    border-color: var(--color-4);
}

/* cambio de color de los botones activados */
.active{
    background-color: var(--color-4) !important;
    color: white !important;
    border: 2px solid var(--color-4) !important;
}

/*=============================
------- SIDEBAR-MOBILE --------
=============================*/

/* ajustes sidebar-mobile */
#sidebar-mobile{
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 1050;
    background-color: var(--color-4);
    position: fixed;
    transition: margin .25s ease-in-out;
}


/*=============================
----------- SIDEBAR -----------
=============================*/

/* Quitar estlilo de los elemenotos de la lista (sidebar) */
li{
    list-style: none;
}

/* ajustes contenedor padre del sidebar */

.wrapper{
    display: flex;
    height: 100vh;
    width:fit-content;
    position: sticky;

}

/* ajustes sidebar sin expandir */

#sidebar{
    
    width: 80px;
    min-width: 80px;
    height: 100vh;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: var(--color-4);
}

/* ajustes sidebar expandido */

#sidebar.expand{
    width: 260px;
    min-width: 260px;
}

/* ajustes botón hamburger que expande el sidebar */
#toggle-btn{
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

/* Icono hamburger */
#toggle-btn i{
    font-size: 2rem;
    color: white;
}

/* Cabecera del sidebar */
.sidebar-logo{
    margin: auto 0;
    padding-top: 1rem;
}

/* Texto cabecera del sidebar */
.sidebar-logo p{
    color:white;
    min-width: 115px;
}

/* Ajustes de visualización en sidebar no expandido */
#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span{
    display: none;
}

/* Lista de enlaces a páginas del sidebar */
.sidebar-nav{
    padding: 2rem 0;
    flex: 1 1 auto;
}

/* Ajustes enlaces del footer */
.sidebar-footer{
    padding: 0;
}

/* Ajuste de cada enlace a las otras páginas */
a.sidebar-link{
   padding: 0.625rem 1.625rem; 
   color: white;
   display: block;
   font-size: 1rem;
   white-space: nowrap;
   border-left: 3px solid transparent;
}

/* Iconos de cada enlace a las otras páginas */
.sidebar-link i{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-right: 0.75rem;

}

/* Color de background cuando hacemos hover en un enlace del sidebar */
.sidebar-link:hover{
    background-color: var(--color-3);
}

/* Color de background cuando un enlace del sidebar está activado */
.sidebar-item .active{
    background-color: var(--color-3) !important;
    border-color: var(--color-3) !important;
}

/*=================================================
----- ESTILOS PARA EL CONTENIDO DEL DASHBOARD -----
==================================================*/

.main-content{
    overflow: hidden;
    max-width: 1400px;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
}

/*=====================================
----- ESTILOS PARA NAVBAR-MOBILE ------
=====================================*/

/* Color de fondo del navbar mobile */
.navbar{
    background-color: var(--color-4);
}

/* Icono del navbar mobile */
.navbar i{
    color: white;
    font-size: 2rem;
}

/* Texto del navbar mobile */
.navbar div span{
    color: white;
    font-size: 2rem;
}


/*=====================================
----- ESTILOS PARA NAV-BREADCRUMB -----
=====================================*/

/* Ajustes ruta de navegación */
.breadcrumb-nav{
    margin: auto;
    margin-top:0.5rem;
}

/* Color del texto de la ruta de navegación */
.breadcrumb-nav ol li a:last-child{
    color: #000;
    font-size: 0.8rem;
}

/* Color al hacer hover en el texto */
.breadcrumb-nav ol li a span:hover{
    color: var(--color-4);
}


/*=================================================
----- ESTILOS PARA EL HEADER DEL MAIN CONTENT -----
=================================================*/

/* Ajustes header del contenido principal */
.main-content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
    max-height: 100vh;
}

/* Botones cronológicos */
.time-buttons{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Encabezado del contenido principal */
.text-subtitle{
    text-align: start;
}

/*=============================
---- ESTILOS PARA LA TABLA ----
=============================*/

/* Tabla principal */
#table-confirmadas{
    margin-top: 0.5rem;
    text-align: center;
    border-radius: 8px;
    overflow: hidden; /*oculta los desbordamientos de las celdas */
    
}

/* Header de la tabla principal */
.table-header th{
    background-color: var(--color-4);
    color: white;
    padding: 1rem 1rem;
}

/* Ajuste dimensiones de las celdas */
.table-body td{
    padding: 0.75rem 0.75rem;
}

/*==============================
---- ESTILOS PARA EL FOOTER ----
==============================*/

/* Ajustes del footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

/* Dimensiones del contenedor padre de las alertas */
.alerts{
    width: 60%;
}

/* Ajustes del contenedor de las alertas */
.alert{
    background-color: white;
    border: 2px solid var(--color-2);
    padding: 0.75rem 0.75rem 0rem 0.75rem;
    margin: 2px;
}

/* Enlace a las páginas de las alertas */
.alert a{
    color: var(--color-2);
    display: flex;
}

/* Icono de campanita */
.alert a i{
    margin-right: 1rem;
}

/* Ajuste del margen del encabezado y botones cronológicos en pantallas de tablet y móvil */
@media (max-width: 991.98px) {
    h1, .time-buttons{
        margin-bottom: 1.5rem;
    }
}



/* Cambio para tablets y móviles (Menos de 767px) */
@media (max-width: 767.98px){

    /* Fuente más pequeña para el encabezado */
    h1{
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    /* Margen botones cronológicos */
    .time-buttons{
        margin-bottom: 1.5rem;
    }

    /* Reducción del tamaño de los botones */
    .btn{
        font-size: 0.9em;
    }

    /* Fuente más pequeña para el header de la tabla */
    .table-header h3{
        font-size: 1.2rem;
    }

    /* Fuente más pequeña y una altura mínima para las celdas de la tabla */
    td{
        font-size: 0.8rem;
        min-height: 60px;
    }

    /* Fuente más pequeña para los elementos del footer (alertas y pagination) */
    .page-link, .alert{
        font-size: 0.8rem;
    }
}
