<nav class="breadcrumb-nav d-none d-lg-block" aria-label="breadcrumb">
  <ol class="breadcrumb">
    
    @if (pageTitle) {
      <li class="breadcrumb-item">
        <a [routerLink]="currentUrl" class="breadcrumb-link">
          @if (pageIcon) {
            <i class="bi {{ pageIcon }} me-2"></i>
          }
          <span>{{ pageTitle }}</span>
        </a>
      </li>
    } @else {
      <li class="breadcrumb-item">
        <a routerLink="/admin" class="breadcrumb-link">
          <i class="bi bi-house-door me-2"></i>
          <span>Dashboard</span>
        </a>
      </li>
    }

  </ol>
</nav>