:host {
    display: block;
    width: 100%;
    background-color: var(--night);
}

.legal-page {
    display: flex;
    justify-content: center;
    padding: 60px 20px;
    min-height: 80vh;
}

.legal-container {
    max-width: 56.25rem;
    width: 100%;
    background-color: white;
    padding: 3.75rem;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

/* Encabezado */
.legal-header {
    text-align: center;
    margin-bottom: 3.125rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 1.25rem;
}

.legal-header h1 {
    font-size: 3rem;
    font-family: var(--font-main);
    font-weight: 700;
    margin-bottom: 0.625rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--dark-cyan);
}

.last-update {
    color: var(--jet);
    font-style: italic;
    font-size: 1rem;
    font-family: var(--font-sec);
}

/* Contenido */
.legal-content section {
    margin-bottom: 2.5rem;
}

.legal-content h2 {
    font-family: var(--font-main);
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-weight: 700;
    font-weight: 600;
    color: #333;
}

.legal-content p {
    font-family: var(--font-sec);
    line-height: 1.7;
    color: black;
    margin-bottom: 0.938rem;
    text-align: justify;
    font-size: 1.1rem;
}

/* Botón final */
.legal-footer {
    margin-top: 3.125rem;
    text-align: center;
    border-top: 1px solid rgba(236, 236, 236, 0.1);
    padding-top: 30px;
}

.btn-back {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 30px;
    text-decoration: none;
    font-family: var(--font-main);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
    color: var(--antiflash-white);
    background-color: var(--burgundy);
    border-radius: 6px;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 2px solid transparent;
}

.btn-back:hover {
    background-color: var(--cardinal);
    color: black;
}


.btn-back:focus-visible {
    outline: 3px solid var(--night);
    outline-offset: 4px;
}

/* RESPONSIVE */
/* TABLETS */
@media (max-width: 991.98px) {
    .legal-page {
        padding: 50px 20px;
    }

    .legal-container {
        padding: 40px;
    }

    .legal-header h1 {
        font-size: 2.5rem;
    }

    .legal-content p {
        font-size: 1.05rem;
    }
}

/* TELÉFONOS MÓVILES */
@media (max-width: 767.98px) {
    .legal-page {
        padding: 20px 10px;
    }

    .legal-container {
        padding: 25px 20px;
        border-radius: 8px;
    }

    .legal-header {
        margin-bottom: 30px;
    }

    .legal-header h1 {
        font-size: 1.8rem;
    }

    .legal-content h2 {
        font-size: 1.3rem;
    }

    .legal-content p {
        font-size: 1rem;
        text-align: left;
    }

    .btn-back {
        width: 100%;
        padding: 14px 20px;
    }
}