/* Ajusta la ruta según dónde esté tu archivo del padre */
@import "../../../../shared/layouts/admin-layout/admin-layout.css";



.contenedor-scroll {
/* Define cuánto espacio máximo puede ocupar la caja */
    max-height: 78vh;    /* O usa 70vh para el 70% de la pantalla */
    
    /* Activa el scroll vertical solo cuando el contenido lo necesite */
    overflow-y: auto;     
    
    /* Evita el scroll horizontal si no es necesario */
    overflow-x: hidden;   
    
    /*Un poco de padding para que el texto no toque la barra */
    padding-right: 15px;

    background-color: var(--antiflash-white);
}

.boton-animado {
  /* Fondo degradado extralargo */
  background: linear-gradient(270deg, #3af3e6, var(--dark-cyan));
  background-size: 800% 800%; /* Tamaño grande para que el movimiento sea suave */
  
  /* Estilos básicos del botón */
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;

  /* Llamada a la animación */
  animation: movimientoFondo 5s ease infinite;
}

/* Definición del movimiento */
@keyframes movimientoFondo {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Efecto opcional de escala al pasar el ratón */
.boton-animado:hover {
  transform: scale(1.05);
  transition: 0.3s;
}