/* Esto solo afecta a la web pública de la aplicación, NO a la de ADMIN */
.client-wrapper {
    margin: 0;
    background-color: var(--antiflash-white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}