<div class="d-flex flex-column flex-grow-1 h-100">
    <div class="main-content-header  d-flex">
        <h1 class="text-subtitle">{{ rangoFechasTexto }}</h1>

        <div class="time-buttons ">
            <div class="time-buttons-days d-flex">
                <button 
                    class="btn btn-secondary mx-1" 
                    [class.active]="vista === 'dia'" 
                    (click)="setVista('dia')">
                    Día
                </button>
                <button 
                    class="btn btn-secondary mx-1" 
                    [class.active]="vista === 'semana'" 
                    (click)="setVista('semana')">
                    Semana
                </button>
            </div>

            <div class="time-buttons-arrrows d-flex">
                <button class="btn btn-secondary mx-1" (click)="navegar(-1)">
                    <i class="bi bi-arrow-left"></i>
                </button>
                <button class="btn btn-secondary mx-1" (click)="navegar(1)">
                    <i class="bi bi-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>  
    <table id="table-confirmadas" class="table table-striped table-borderless align-middle">
        <thead class="table-header">
            <tr>
                <th scope="col" class="d-none d-lg-table-cell"><h3>#</h3></th>
                <th scope="col"><h3>Nombre</h3></th>
                <th scope="col"><h3>Fecha y Hora</h3></th>
                <th scope="col" class="d-none d-lg-table-cell"><h3>Tipo</h3></th>
                <th scope="col" ></th>
            </tr>
        </thead>
        <tbody class="table-body">
            
            @for (cita of citasPaginadas; track cita.idCita ; let i = $index) {
                <tr>
                    <th scope="row" class="d-none d-lg-table-cell">
                        <p>{{ cita.idCita }}</p> </th>
                    <td><p>{{ cita.clienteNombre }}</p></td>
                    <td><p>{{ cita.fecha }}</p></td>
                    <td class="d-none d-lg-table-cell"><p>{{ cita.tipo }}</p></td>
                    <td class="d-block d-sm-flex justify-content-around align-items-center h-100">
                        <button class="btn mb-1 mb-sm-0" (click)="irAConfirmar(cita.idCita)">Confirmar</button>
                        <button class="btn" (click)="verDetalles(cita.idCita)">Ver</button>
                    </td>
                </tr>
            } @empty {
                <tr>
                    <td colspan="5" class="text-center p-4">
                        <p class="text-muted">No hay citas</p>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <div class="footer mt-auto d-flex justify-content-between align-items-center w-100 mt-3">
        <div class="alerts">
            <div class="alert-confirmadas">
                <a [routerLink]="['/admin/citas']"> 
                    <i class="bi bi-bell-fill"></i>
                    <p class="text-alert d-none d-sm-block">¡Tienes 3 citas confirmadas nuevas!</p>
                    <p class="text-alert d-sm-none fw-bold">3</p>
                </a>
            </div>

            <div class="alert-pendientes">
                <a [routerLink]="['/admin/solicitudes']"> <i class="bi bi-bell-fill"></i>
                    <p class="text-alert d-none d-sm-block" >¡Tienes {{ numeroPendientes }} {{ numeroPendientes === 1 ? 'solicitud' : 'solicitudes' }} pendientes!</p>
                    <p class="text-alert d-sm-none fw-bold">{{ numeroPendientes }} </p>
                </a>
            </div>
        </div>

        <nav class="pagination-nav d-flex justify-content-end ms-4">
            <ul class="pagination">
                
                <li class="page-item me-1" [class.disabled]="paginaActual === 1 || totalPaginas.length === 0">
                    <a class="page-link btn" 
                    [class.btn-secondary]="paginaActual !== 1 && totalPaginas.length > 0" 
                    (click)="totalPaginas.length && irAPagina('prev')">
                    Anterior
                    </a>
                </li>

                @for (p of totalPaginas; track p) {
                    <li class="page-item rounded-3 me-1" [class.active]="paginaActual === p">
                        <a class="page-link btn" 
                        [class.btn-secondary]="paginaActual !== p" 
                        (click)="irAPagina(p)">
                        {{ p }}
                        </a>
                    </li>
                }

                <li class="page-item me-1" [class.disabled]="paginaActual === totalPaginas.length || totalPaginas.length === 0">
                    <a class="page-link btn" 
                    [class.btn-secondary]="paginaActual !== totalPaginas.length && totalPaginas.length > 0" 
                    (click)="totalPaginas.length && irAPagina('next')">
                    Siguiente
                    </a>
                </li>
                
            </ul>
        </nav>
    </div>
</div>