<div class="d-flex flex-column flex-grow-1 h-100">
    <div class="main-content-header d-flex justify-content-between align-items-center">
        <h1 class="text-subtitle">Gestión del Equipo (Staff)</h1>
        
        <div class="header-actions">
            <button class="btn btn-secondary" (click)="irANuevoMiembro()">
                <i class="bi bi-person-plus-fill me-2"></i>Añadir Staff
            </button>
        </div>
    </div>  

    <table id="table-list-staff" class="table table-striped table-borderless align-middle mt-3">
        <thead class="table-header">
            <tr>
                <th scope="col" class="d-none d-lg-table-cell"><h3>ID</h3></th>
                <th scope="col"><h3>Nombre</h3></th>
                <th scope="col"><h3>Email</h3></th>
                <th scope="col" class="d-none d-lg-table-cell"><h3>Tel.</h3></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-body">
            @for (miembro of staffPaginado; track miembro.idTrabajador) {
                <tr>
                    <th scope="row" class="d-none d-lg-table-cell">
                        <p>{{ miembro.idTrabajador }}</p> 
                    </th>
                    <td><p>{{ miembro.nombre }} {{ miembro.apellido1 }}</p></td>
                    <td>
                        <button (click)="editarStaff(miembro.idTrabajador)">Editar</button>
                        <button (click)="verDetallesStaff(miembro.idTrabajador)">Ver</button>
                    </td>
                </tr>
            
            } @empty {
                <tr>
                    <td colspan="5" class="text-center p-4">
                        <p class="text-muted">No hay personal registrado</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="footer mt-auto d-flex justify-content-between align-items-center w-100 mt-3">

        <nav class="pagination-nav d-flex justify-content-end ms-4">
            <ul class="pagination">
                <li class="page-item me-1" [class.disabled]="paginaActual === 1 || totalPaginas.length === 0">
                    <a class="page-link btn" (click)="totalPaginas.length && irAPagina('prev')">Anterior</a>
                </li>

                @for (p of totalPaginas; track p) {
                    <li class="page-item rounded-3 me-1" [class.active]="paginaActual === p">
                        <a class="page-link btn" (click)="irAPagina(p)">{{ p }}</a>
                    </li>
                }

                <li class="page-item me-1" [class.disabled]="paginaActual === totalPaginas.length || totalPaginas.length === 0">
                    <a class="page-link btn" (click)="irAPagina('next')">Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>
</div>