/* Ajusta la ruta según dónde esté tu archivo del padre */
@import "../../../../shared/layouts/admin-layout/admin-layout.css";



.contenedor-scroll {
/* Define cuánto espacio máximo puede ocupar la caja */
    height: 70vh;
    background-color: var(--antiflash-white);
}

.card{
    background-color: var(--antiflash-white);
}

div{
    text-align: center;
}

button{
    width: 40%;
}