<div class="contenedor-scroll container-fluid p-4 rounded shadow-sm border d-flex justify-content-center align-items-center">
  <div class="card invoice-card p-5 border-0">
    <h1 class="text-subtitle m-0 fw-bold">¿Quieres crear una Factura?</h1>
    <p class="instruccion text-muted mb-4">La factura se le enviará al cliente por <strong>Email</strong>.</p>

    @if (estadoFactura() === 'PENDIENTE') {
      <p class="small mb-4 fw-bold text-danger">
        ⚠️ Esta cita requiere factura obligatoriamente.
      </p>
    } @else if (estadoFactura() === 'NO_REQUIERE') {
      <p class="small mb-4 fw-bold text-success">
        ℹ️ El cliente no ha solicitado factura explícitamente.
      </p>
    }

    <div class="mb-3">
      <label class="form-label small fw-bold">DNI / NIE</label>
      <input type="text" class="form-control" 
             [ngModel]="dni()" (ngModelChange)="dni.set($event)" 
             placeholder="Ej: 12345678X">
    </div>

    <div class="mb-3">
      <label class="form-label small fw-bold">Dirección Fiscal</label>
      <input type="text" class="form-control" 
             [ngModel]="direccion()" (ngModelChange)="direccion.set($event)" 
             placeholder="Calle, Número, CP...">
    </div>

    <div class="d-flex gap-2 justify-content-center">
      @if (estadoFactura() !== 'PENDIENTE') {
        <button class="btn btn-danger px-4" (click)="irAlListado()" [disabled]="loading()">
          No Generar
        </button>
      }

      <button class="btn px-4" 
              (click)="confirmarGenerarFactura()" 
              [disabled]="isFormInvalid()">
        
        @if (loading()) {
          <span class="spinner-border spinner-border-sm me-2"></span>
          <span>Generando...</span>
        } @else {
          <span>Generar</span>
        }
      </button>
    </div>
  </div>
</div>