/* Ajusta la ruta según dónde esté tu archivo del padre */
@import "../../../shared/layouts/admin-layout/admin-layout.css";


/* color y métricas del contenedor principal */
.container{
    background-color: var(--antiflash-white);
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 5rem;
    border-radius: 10px;
}
h2{
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
   
}