:host {
  display: block;
}

/* Wrapper */
.calendar-page-wrapper {
  display: flex;
  flex-direction: column;
}

/* Desktop: ocupar toda la altura */
@media (min-width: 992px) {
  .calendar-page-wrapper {
    height: 100%;
  }

  .calendar-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  .calendar-main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  ::ng-deep .fc {
    height: 100% !important;
  }
}

/* Móvil: altura automática */
@media (max-width: 991px) {
  .calendar-main-container {
    padding-bottom: 1rem;
  }

  ::ng-deep .fc {
    height: auto !important;
  }
}

/* Eventos */
::ng-deep .fc-event {
  background-color: var(--dark-cyan) !important;
  border: none !important;
  color: white !important;
  padding: 2px 4px !important;
  font-size: 0.8rem;
}

::ng-deep .fc-event-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep .fc-event:hover{
  cursor: pointer;
}
